<nav class="navbar navbar-expand-lg navbar-dark" style="height: 74px; background-color:#5161ce;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">RecordApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_record' %}">Add Record</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>

        <li style=" margin-left: 688px;">
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
            <div style="background-color: #31ac73; border: red; color:black; border-radius: 14px; margin-top: 2px;">
              <button class="btn btn-outline-success" type="submit" style="color: white;">Search</button>
            </div>
          </form>
        </li>



        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Login</a>
        </li>
        {% endif %}


      </ul>

    </div>
  </div>
</nav>